name: google_maps_nigeria_app
description: A Flutter app showing Google Maps with Nigerian locations
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=3.2.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  google_maps_flutter: ^2.5.3
  google_maps_flutter_platform_interface: ^2.6.1
  geolocator: ^13.0.0
  
  http: ^1.2.1
  flutter_dotenv: ^5.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true

  assets:
    - .env
